* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html{
    font-family: 'Open Sans', sans-serif;
}

.logo{
    vertical-align: middle;

}

main{
    padding: 50px 0;
}

.main-header{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    font-size: 36px;
    font-weight: 700;

}

body{
    background-color: #F5F8F9;
}

.container{
    margin: 0 auto;
    padding-left: 45px;
    padding-bottom: 25px;
    max-width: 900px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

.pulsanti{
    margin: 0 auto;
    margin-bottom: 2px;
    padding-left: 45px;
    padding-bottom: 25px;
    max-width: 900px;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.add {
    border-radius: 5px; 
    padding: 10px;
  }

  .task{
    color: #fff;
    background-color: #46ADF1;
    border: none; 
  }

  .section{
    color: #DFE3E6;
    background-color: #ffffff;
    border: solid 1px #DFE3E6  

  }


.liste{
    display: inline-block;
    padding: 10px;
}

.category{
    color: white;
    line-height: 30px;
    padding: 0 8px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}

.editorial{
    background-color: #45ABE9;
}

.goals{
    background-color: #9C73E3;
}

.recruiting{
    background-color: #63C0A9;
}

.mobile{
    background-color: #F29F33;
}

.website{
    background-color: #D764A1;
}

.sales{
    background-color: #B0C825;
}

.check{
    border-radius: 50%;
    border: 0.5px solid;
    color: #73C6B1; 
    width: 22px;
    height: 22px;
    display: inline-block;
    text-align: center;
    line-height: 22px;
}

.uncheck{
    border-radius: 50%;
    border: 0.5px solid;
    color: #E7433B; 
    width: 22px;
    height: 22px;
    display: inline-block;
    text-align: center;
    line-height: 22px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li{
    margin: 5px;
  }
